<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration   
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
     <settings>  
         <!-- changes from the defaults -->  
         <!-- 延迟加载总开关 -->
        <!-- <setting name="lazyLoadingEnabled" value="true" /> -->
         <setting name="autoMappingBehavior" value="FULL"/>
     </settings>  
</configuration>  